@charset "UTF-8";
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/* обнуляем дефолтные маркеры у всех маркированных списков */
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/* обнуляем дефолтные подчеркивания у всех ссылок */
a {
  text-decoration: none;
  color: inherit;
  display: block;
}

* {
  margin: 0;
  padding: 0;
}

code,
kbd,
samp,
pre {
  font-family: "Open Sans", sans-serif;
  /* font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace; 1 */
  font-size: 1em;
  /* 2 */
}

/* ===== ДОПОЛНЕНИЯ от Sandra Hrevtsova ===== */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
  padding: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

address {
  font-style: normal;
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../fonts/ProximaNova-Regular.woff) format("woff");
}
.container {
  outline: 1px solid tomato;
  width: 320px;
  margin: 0 auto;
}
.hero .container {
  text-align: center;
  padding: 65px 24px 328px 24px;
  background-image: url(../../images/hero-heart.png), url(../../images/hero-macaroon.png), url(../../images/hero-macaroon1.png), url(../../images/hero-macaroon2.png), url(../../images/hero-macaroon3.png), url(../../images/hero-macaroon4.png), url(../../images/hero-green-small.png), url(../../images/hero-green-big.png), url(../../images/hero-nut.png), url(../../images/hero-nut1.png), url(../../images/hero-nut2.png), url(../../images/hero-nut3.png), url(../../images/hero-nut4.png), url(../../images/hero-nut5.png), url(../../images/hero-blue.png), url(../../images/hero-blue-small.png), url(../../images/hero-blue-small-light.png), url(../../images/hero-blue-small-light.png), url(../../images/hero-pink.png);
  background-repeat: no-repeat;
  background-position: 50% 90%, 11% 60%, 1% 85%, 50% 100%, 100% 90%, 94% 57%, 94% 68%, 20% 95%, 8% 70%, 10% 90%, 36% 93%, 80% 94%, 92% 79%, 43% 57%, 850% 150%, 60% 85%, -600% 70%, -50% 140%, 10% 110%;
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1440px;
    padding-right: 135px;
    margin-left: 135px;
  }
}
.gamburger-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 4px;
  background-color: #f7ebe5;
}

.gamburger-menu__button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 18px 40px;
  cursor: pointer;
}

.gamburger-menu__icon {
  position: absolute;
  width: 20px;
  top: 50%;
  left: 50%;
  height: 1.5px;
  border: 1px solid #2b1414;
  background-color: #2b1414;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: 250ms linear;
  transition: 250ms linear;
}
.gamburger-menu__icon--top {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.gamburger-menu__icon--bottom {
  position: absolute;
  width: 12px;
  top: 65%;
  left: 50%;
  opacity: 1;
  -webkit-transform: translateX(-83%);
          transform: translateX(-83%);
}
.gamburger-menu__checkbox:checked ~ .gamburger-menu__icon {
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}
.gamburger-menu__checkbox:checked ~ .gamburger-menu__icon--top {
  -webkit-transform: translate(-50%, 260%) rotate(-45deg);
          transform: translate(-50%, 260%) rotate(-45deg);
}
.gamburger-menu__checkbox:checked ~ .gamburger-menu__icon--bottom {
  opacity: 0;
}

.gamburger-menu__cart {
  position: relative;
  display: block;
  padding: 18px;
}

.gamburger-menu__order {
  position: absolute;
  top: 50%;
  right: 25%;
  width: 13px;
  height: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  color: #ffffff;
  background-color: #2b1414;
  font-size: 10px;
  line-height: 1.2;
}

.gamburger-menu__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gamburger-menu__logo-head {
  position: relative;
}

.gamburger-menu__logo-batterfly {
  position: absolute;
  top: 56px;
}

.gamburger-menu__logo-text {
  position: absolute;
  top: 30px;
}

.gamburger-menu__checkbox {
  position: absolute;
  width: 0;
  height: 0;
}

.navigation {
  display: none;
  background-color: #f7ebe5;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 20px;
  padding-bottom: 12px;
}
.navigation.is-open {
  display: block;
}

.navigation__close {
  margin-bottom: 21px;
  border: none;
  background: transparent;
}

.navigation__list {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation__item {
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation__link {
  padding-top: 12px;
  padding-bottom: 11px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #2b1414;
}

.navigation__services {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.navigation__item-service {
  text-align: center;
}

.navigation__link-service {
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.79);
}

.navigation__item-contacts {
  text-align: center;
}
.navigation__item-contacts:not(:last-child) {
  margin-bottom: 11px;
}

.navigation__link-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 11px;
  padding-top: 14px;
}
.navigation__link-contacts img {
  margin-right: 13px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 20px;
}

.round-block {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 24px;
  height: 24px;
  font-family: "Proxima Nova", sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: #ffffff;
  background-color: #e7426a;
  border-radius: 50%;
}

.hero__title {
  font-weight: 600;
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 11px;
}

.hero__text {
  color: #292929;
  font-size: 14px;
}
.hero__text--uppercase {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 18px;
}
.hero__text--flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
}

.hero__line {
  margin-left: 4px;
  margin-right: 4px;
  display: block;
  width: 20px;
  height: 1px;
  background-color: #2b1414;
}

body {
  font-family: Montserrat, serif;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}/*# sourceMappingURL=main.css.map */