@import './commons/normalize';
@import './commons/fonts';
@import './utils/variables';
@import './utils/mixin';
@import './components/container';
@import './components/buttons';
@import './components/pages-nav';
@import './components/social-list';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/section-menu';
@import './layouts/promotions';
@import './layouts/section-celebrated';
@import './layouts/section-sets';
@import './layouts/section-instagram';
@import './layouts/section-advantages';
@import './layouts/footer';

body {
  @include fonts($font, 400, 10px, 1.2);
}

.section-title {
  @include fonts($font, 600, 18px, 1.22);
  text-align: center;
  margin-bottom: 17px;
  .section-celebrated & {
    margin-bottom: 46px;
  }
  .section-sets & {
    margin-bottom: 19px;
  }

  @media screen and (min-width: 768px) {
    @include fonts($fs: 30px, $lh: 1.23);
    margin-bottom: 50px;

    .section-celebrated & {
      margin-bottom: 34px;
    }
    .section-sets & {
      margin-bottom: 42px;
    }
    .section-instagram &,
    .section_advantages & {
      margin-bottom: 40px;
    }
  }
}
