@import './commons/normalize';
@import './commons/fonts';
@import './utils/variables';
@import './utils/mixin';
@import './components/container';
@import './components/buttons';
@import './components/pages-nav';
@import './components/social-list';
@import './layouts/header';
@import './layouts/hero';
@import './layouts/section-menu';
@import './layouts/promotions';
@import './layouts/section-celebrated';
@import './layouts/section-sets';
@import './layouts/section-instagram';
@import './layouts/section-advantages';
@import './layouts/footer';

body {
  @include fonts($font, 400, 10px, 1.2);
  // font-family: $font;
  // font-weight: 400;
  // font-style: normal;
  // font-size: 10px;
  // line-height: 1.2;
}

.section-title {
  @include fonts($fw: 600, $fs: 18px);
  // font-weight: 600;
  // font-size: 18px;
  text-align: center;
  margin-bottom: 17px;
  .section-celebrated & {
    margin-bottom: 46px;
  }
  .section-sets & {
    margin-bottom: 19px;
  }

  @media screen and (min-width: 768px) {
    @include fonts($fs: 30px, $fw: 600, $lh: 1.23);
    // font-size: 30px;
    // line-height: 1.23;
    margin-bottom: 50px;
  }
}
