.sets-all-button {
  padding: 12px 10px;
  @include fonts($font, 600, 12px, 1.25);
  width: 218px;
  border: 1px solid $border-button;
  border-radius: 3px;
  background: transparent;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  &--hidden {
    display: none;
  }

  &--accent {
    border-color: $color-accent;
  }

  &--accent-fill {
    border-color: $color-accent;
    background-color: $color-accent;
    color: $color-accent_text;
  }
  &--accent-fill:hover,
  &--accent-fill:focus {
    background-color: $color-button-accent-hover;
    border-color: $color-button-accent-hover;
  }
  &--disabled {
    background-color: $border-set;
    border-color: $border-set;
    color: $color-accent_text;
    @include fonts($font-accent, 600, 13px, 1.23);
  }

  &--text-accent {
    color: $border-button;
  }

  &--font-accent {
    background-color: $border-button;
    color: $color-accent_text;
    width: 172px;
  }

  .deserts-hero & {
    width: 155px;
    &:not(:last-child) {
      margin-bottom: 4px;
    }
    @media screen and (min-width: 768px) {
      &:not(:last-child) {
        margin-bottom: 0;
      }
    }
  }

  .section-sets-card & {
    display: none;
  }

  .modal-block-button & {
    color: $border-button;
  }

  .corporation-hero & {
    margin-top: 30px;
  }

  .opt-hero &,
  .wedding-hero & {
    width: 190px;
    &:not(:last-child) {
      margin-bottom: 8px;
    }
  }

  .total-order__block-button & {
    width: 84px;
  }

  &:hover,
  &:focus {
    color: $color-accent_text;
    background-color: $color-accent;
    border-color: $color-accent;
  }

  &--font-accent {
    background-color: $border-button;
    color: $color-accent_text;
    width: 90px;
    font-size: 10px;
  }

  @media screen and (min-width: 768px) {
    width: 293px;
    @include fonts($font, 600, 14px, 1.2);
    &--hidden {
      display: block;
    }
    .deserts-hero & {
      width: 230px;
    }
    .section-sets-card & {
      display: block;
    }

    .corporation-hero & {
      margin-top: 32px;
    }

    .opt-hero &,
    .wedding-hero & {
      width: 230px;
      &:not(:last-child) {
        margin-bottom: 0;
        margin-right: 24px;
      }
    }

    .total-order & {
      width: 222px;
      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
    .section-count--finaly & {
      width: 100%;
    }
    &--font-accent {
      background-color: $border-button;
      color: $color-accent_text;
      width: 172px;
      font-size: 12px;
    }
  }
}

.button-order {
  @include flex-center;
  background-color: $color-accent;
  border: none;
  border-radius: 3px;
  padding: 12px 22px;
  color: $color-accent_text;
  @include fonts($font, 600, 12px, 1.25);

  & img {
    margin-right: 4px;
  }

  @media screen and (min-width: 768px) {
    padding: 15px 38px;
    @include fonts($font, 600, 12px, 1.25);
    & img {
      margin-right: 12px;
    }
  }
}
