.container {
  width: 100vw;
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  header & {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hero & {
    // padding-top: 65px;
    text-align: center;
    padding: 132px 24px 294px 24px;
  }

  .section-menu & {
    padding-bottom: 19px;
  }

  .promotions & {
    padding-bottom: 30px;
    padding-top: 19px;
  }

  .section-celebrated & {
    padding-top: 30px;
    padding-bottom: 11px;
  }

  .section-sets & {
    padding-top: 11px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  .section-sets--pages & {
    padding-top: 72px;
    padding-bottom: 80px;
  }

  .section-instagram & {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .section_advantages & {
    padding-top: 25px;
    padding-bottom: 47px;
  }

  .footer & {
    padding-top: 33px;
    padding-bottom: 53px;
    background-color: $footer-bg;
  }

  .deserts-header &,
  .card-header &,
  .garantee-header &,
  .delivery-header &,
  .opt-header &,
  .wedding-header &,
  .assemble-set-header & {
    padding-top: 80px;
  }

  .deserts-hero & {
    @include flex-center;
    padding-left: 0;
    background-color: $dessert-hero;
  }

  .deserts-card & {
    margin-top: 8px;
    margin-bottom: 15px;
  }

  .set-card & {
    text-align: center;
  }

  .corporation-hero & {
    padding-top: 42px;
    padding-bottom: 20px;
    text-align: center;
  }

  .section-order-close & {
    padding-bottom: 16px;
    padding-top: 20px;
  }

  .section-partners & {
    padding-top: 16px;
    padding-bottom: 22px;
  }

  .section-questions & {
    padding-top: 22px;
    padding-bottom: 40px;
  }

  .section-card-garantee & {
    padding-bottom: 36px;
  }

  .opt-hero &,
  .wedding-hero & {
    padding-bottom: 22px;
  }

  .section-offer & {
    padding-top: 22px;
    padding-bottom: 44px;
  }

  .section-form & {
    background-color: $color-header-bg;
    padding: 38px 16px 14px;
    text-align: center;
  }

  .section-recomendation & {
    padding-top: 40px;
    padding-bottom: 16px;
  }

  .section-error & {
    padding-top: 170px;
    padding-bottom: 94px;
  }

  @media screen and (min-width: 768px) {
    max-width: 1400px;

    .hero & {
      @include flex-center;
      text-align: center;
      padding: 0;
      padding-right: 76px;
    }

    .section-celebrated & {
      padding-top: 63px;
      padding-bottom: 54px;
    }

    .footer & {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
    }

    .deserts-header &,
    .card-header &,
    .garantee-header &,
    .delivery-header &,
    .opt-header &,
    .wedding-header &,
    .assemble-set-header & {
      padding-top: 34px;
    }

    .deserts-card & {
      margin-top: 35px;
      margin-bottom: 37px;
    }

    .set-card & {
      margin-bottom: 30px;
    }

    .section-sets-card {
      margin-top: 30px;
    }

    .corporation-hero & {
      padding-top: 86px;
      padding-bottom: 32px;
    }

    .section-order-close & {
      padding-bottom: 42px;
      padding-top: 35px;
    }

    .section-partners & {
      padding-top: 42px;
      padding-bottom: 24px;
    }

    .section-questions & {
      padding-top: 24px;
      padding-bottom: 64px;
    }

    .section-card-garantee & {
      padding-bottom: 244px;
    }

    .opt-hero &,
    .wedding-hero & {
      padding-bottom: 42px;
    }

    .section-offer & {
      padding-top: 42px;
      padding-bottom: 113px;
    }

    .section-form & {
      padding-top: 76px;
      padding-bottom: 76px;
    }

    .section-recomendation & {
      padding-top: 67px;
      padding-bottom: 24px;
    }

    .section-error & {
      padding-top: 109px;
      padding-bottom: 60px;
    }
  }
}

.section-sets-card .sets-all-button {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
