.container {
  width: 100vw;
  max-width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  header & {
    padding: 0;
    padding-left: 0;
    padding-right: 0;
  }

  .hero & {
    // padding-top: 65px;
    text-align: center;
    padding: 132px 24px 0 24px;
  }

  .section-menu & {
    padding-bottom: 19px;
  }

  .promotions & {
    padding-bottom: 30px;
    padding-top: 19px;
  }

  .section-celebrated & {
    padding-top: 30px;
    padding-bottom: 11px;
  }

  .section-sets & {
    padding-top: 11px;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
  }

  .section-sets--pages & {
    padding-top: 72px;
    padding-bottom: 80px;
  }

  .section-instagram & {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .section_advantages & {
    padding-top: 25px;
    padding-bottom: 47px;
  }

  .footer & {
    padding-top: 33px;
    padding-bottom: 53px;
    background-color: $footer-bg;
  }

  @media screen and (min-width: 768px) {
    max-width: 1400px;

    .hero & {
      @include flex-center;
      text-align: center;
      // padding: 0 218px 0 0;
      padding: 0;
      flex-direction: row-reverse;
    }

    .section-celebrated & {
      padding-top: 63px;
      padding-bottom: 54px;
    }

    .footer & {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }
}
