.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: $color-backdrop;
  visibility: false;
  opacity: 0;
  pointer-events: none;
  transition: 250ms linear;
  &.is-open {
    visibility: true;
    opacity: 1;
    pointer-events: visible;
  }
}

.modal-add-basket {
  position: relative;
  width: 278px;
  height: 232px;
  margin: 0;
  padding: 20px 16px;
  padding-bottom: 32px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-accent_text;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }

  @media screen and (min-width: 768px) {
    width: 570px;
    height: 240px;
    padding: 48px 46px 26px;
  }
}

.modal-add-basket__button-close {
  position: absolute;
  top: -21px;
  right: 0;
  width: 12px;
  height: 12px;
  border: none;
  background-color: transparent;

  .modal-catalog &,
  .modal-catalog-all & {
    top: 16px;
    right: 16px;
  }
  @media screen and (min-width: 768px) {
    top: 0;
    right: -30px;
    width: 16px;
    height: 16px;

    .modal-catalog &,
    .modal-catalog-all & {
      top: 0;
      right: -30px;
    }
  }
}

.modal-add-basket__icon-close {
  width: 100%;
  height: 100%;
  fill: $color-accent_text;
  .modal-catalog & {
    fill: $color-text-primary;
    opacity: 0.2;
  }

  @media screen and (min-width: 768px) {
    .modal-catalog & {
      fill: $color-accent_text;
      opacity: 1;
    }
  }
  //   @media screen and (min-width: 768px) {
  //     width: 16px;
  //     height: 16px;
  //   }
}

.modal-title {
  @include fonts($font, 600, 16px, 1.25);
  text-align: center;
  margin-bottom: 16px;
  @media screen and (min-width: 768px) {
    @include fonts($font, 600, 30px, 1.23);
    margin-bottom: 24px;
  }
}

.modal-text {
  @include fonts($font-accent, 400, 14px, 1.2);
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 768px) {
    @include fonts($font-accent, 400, 16px, 1.19);
    margin-bottom: 38px;
    .section-form.form-wedding & {
      @include fonts($font-accent, 400, 18px, 1.22);
      text-align-last: left;
    }
  }
}

.modal-block-button {
  text-align: center;
  & .sets-all-button:not(:last-child) {
    margin-bottom: 8px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    & .sets-all-button:not(:last-child) {
      margin-bottom: 0px;
      margin-right: 10px;
    }
  }
}

.modal-catalog,
.modal-catalog-all {
  background-color: $color-header-bg;
  width: 320px;
  height: 673px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 44px 16px 20px;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
  }

  @media screen and (min-width: 768px) {
    width: 830px;
    height: 566px;
    padding: 40px 30px 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal-catalog-all {
  height: 553px;

  @media screen and (min-width: 768px) {
    height: 406px;
  }
}

.form-catalog__block-form {
  @media screen and (min-width: 768px) {
    .section-form & {
      display: flex;
    }
    .section-form.form-wedding & {
      display: block;
    }
  }
}

.form-catalog__block-input {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    .section-form & {
      margin-right: 30px;
      width: calc((100% - 30px) / 3 * 2);
    }
    .section-form.form-wedding & {
      width: 100%;
    }
  }
}

.form-catalog__label {
  display: block;
  margin-bottom: 14px;
  width: 100%;
  @include fonts($font-accent, 400, 12px, 1.25);
  text-align: left;

  @media screen and (min-width: 768px) {
    width: calc((100% - 30px) / 2);
    margin-bottom: 16px;
    @include fonts($font-accent, 400, 14px, 1.21);

    &--long {
      width: 100%;
      .section-form & {
        width: calc((100% - 30px) / 3);
      }
      .section-form.form-wedding & {
        width: 100%;
      }
    }

    &:nth-child(2n - 1) {
      margin-right: 30px;
    }
  }
}

.form-catalog__input,
.form-catalog__textarea {
  display: block;
  width: 100%;
  @include fonts($font-accent, 400, 16px, 1.19);
  padding: 10px;
  margin-top: 8px;
  .section-form.form-wedding & {
    border: none;
  }
}

.form-catalog__textarea {
  height: 76px;
  width: 100%;

  @media screen and (min-width: 768px) {
    height: 88px;
    .section-form.form-wedding & {
      height: 60px;
    }
  }
}

.form-catalog__button {
  margin-top: 4px;
  margin-bottom: 16px;

  .form-wedding & {
    margin-bottom: 164px;
  }
  @media screen and (min-width: 768px) {
    .form-wedding & {
      margin-bottom: 16px;
    }
  }
}

.form-catalog__info {
  @include fonts($font-accent, 400, 10px, 1.2);
  text-align: left;

  @media screen and (min-width: 768px) {
    @include fonts($font-accent, 400, 11px, 1.18);
  }
}

.form-catalog__link {
  display: inline;
  color: $border-button;
}
