.pages-nav {
  display: flex;
  justify-content: center;

  .section-partners & {
    display: none;
  }
  @media screen and (min-width: 768px) {
    justify-content: flex-end;

    .section-order-close &,
    .section-partners & {
      display: flex;
      justify-content: center;
    }

    &--disabled {
      display: none;
    }
  }
}

.pages-nav__item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.pages-nav__button {
  width: 12px;
  height: 12px;
  border: 1px solid $border-color;
  background: transparent;
  &--active {
    background-color: $color-accent;
    border-color: $color-accent;
  }
}
