@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin fonts($ff: $font, $fw: 400, $fs: 10px, $lh: 1.2) {
  font-family: $ff;
  font-weight: $fw;
  font-size: $fs;
  line-height: $lh;
}

@mixin colorize($colors-menu-card, $selector, $selector-icon) {
  @each $color in $colors-menu-card {
    $idx: index($colors-menu-card, $color);
    #{$selector}:nth-child(#{$idx}) {
      background-color: #{$color};
      background-image: linear-gradient(
        to bottom nth($direction-menu-card, $idx),
        rgba(255, 255, 255, 0.3) 50%,
        #{$color} 50%
      );
    }
    #{$selector}:nth-child(#{$idx}) #{$selector-icon} {
      fill: #{$color};
    }
  }
}

@mixin card-colorize($colors-menu-card, $selector) {
  @each $color in $colors-menu-card {
    $idx: index($colors-menu-card, $color);
    #{$selector}:nth-child(#{$idx}) {
      background-color: #{$color};
      // background-image: linear-gradient(
      //   to bottom nth($direction-menu-card, $idx),
      //   rgba(255, 255, 255, 0.3) 50%,
      //   #{$color} 50%
      // );
    }
  }
}

@mixin card-bg($promotion-card-bg, $selector) {
  @each $color in $promotion-card-bg {
    $idx: index($promotion-card-bg, $color);
    #{$selector}:nth-child(#{$idx}) {
      background-image: nth($promotion-card-bg, $idx);
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

@mixin desert-card-bg($dc, $dc2, $dcd, $dcd2, $selector) {
  @each $color in $dc {
    $idx: index($dc, $color);
    #{$selector}:nth-child(#{$idx}) {
      background-image: nth($dc, $idx);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @media screen and (min-device-pixel-ratio: 2),
        screen and (-webkit-min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: nth($dc2, $idx);
      }

      @media screen and (min-width: 768px) {
        background-image: nth($dcd, $idx);
        @media screen and (min-device-pixel-ratio: 2),
          screen and (-webkit-min-device-pixel-ratio: 2),
          screen and (min-resolution: 192dpi),
          screen and (min-resolution: 2dppx) {
          background-image: nth($dcd2, $idx);
        }
      }
    }
  }
}
