$font-accent: 'Proxima Nova', serif;
$font: Montserrat, serif;

$logo: #b3d9f3;
$hero-bgc-blue: rgba(111, 217, 251, 0.6);
$hero-bgc-pink: rgba(152, 224, 194, 0.38);
$color-header-bg_accent: #d4e9f9;
$border-set: #ededf0;
$border-button: #4e9dd3;
$bg-accent: rgba(78, 157, 211, 0.1);
$footer-bg: #ebedee;
$color-backdrop: rgba(0, 0, 0, 0.39);
$color-form: #f1f1f1;
$bg-error: #6046ab;

$color-accent: #e7426a;
$color-button: #f7ebe5;
$color-button-hover: #ecc7b4;
$color-button-accent-hover: #f45d82;
$dessert-hero: #feb0e1;

$color-header-bg: #f7ebe5;
$color-accent_text: #ffffff;
$border-color: #e5e5e5;
$header-color: rgba(0, 0, 0, 0.79);
$color-text-primary: #292929;
$color-menu-border: rgba(0, 0, 0, 0.1);
$nav-color: #2b1414;
$menu-border: rgba(41, 41, 41, 0.16);
$block-menu-nav: rgba(41, 41, 41, 0.46);
$button-text: rgba(41, 41, 41, 0.83);
$strike-text: #969696;

$colors-menu-card: '#ffdbc3', '#ffc2cc', '#b4eab3', '#fdd5cd', '#a8dcdf',
  '#c4c6ec';
$direction-menu-card: right, left, left, right, right, left;

$colors-desert-card: #ffb84e, #fab2d6, #7ea1cc;

$promotion-card-bg: url(../images/promotions/promotion1.png),
  url(../images/promotions/promotion2.png),
  url(../images/promotions/promotion3.png),
  url(../images/promotions/promotion4.png);

$promotion-card-bg-2x: url(../images/promotions/promotion1@2x.png),
  url(../images/promotions/promotion2@2x.png),
  url(../images/promotions/promotion3@2x.png),
  url(../images/promotions/promotion4@2x.png);

$desert-card-bg-mobile: url(../images/desserts/cart1-mobile.jpg),
  url(../images/desserts/cart2-mobile.jpg),
  url(../images/desserts/cart3-mobile.jpg);
$desert-card-bg-mobile-2x: url(../images/desserts/cart1-mobile@2x.jpg),
  url(../images/desserts/cart2-mobile@2x.jpg),
  url(../images/desserts/cart3-mobile@2x.jpg);
$desert-card-bg-desktop: url(../images/desserts/cart1-desktop.jpg),
  url(../images/desserts/cart2-desktop.jpg),
  url(../images/desserts/cart3-desktop.jpg);
$desert-card-bg-desktop-2x: url(../images/desserts/cart1-desktop@2x.jpg),
  url(../images/desserts/cart2-desktop@2x.jpg),
  url(../images/desserts/cart3-desktop@2x.jpg);
