$logo: #b3d9f3;
$hero-bgc-blue: rgba(111, 217, 251, 0.6);
$hero-bgc-pink: rgba(152, 224, 194, 0.38);
$header-color: rgba(0, 0, 0, 0.79);

$color-header-bg: #f7ebe5;
$color-header-bg_accent: #d4e9f9;
$color-accent: #e7426a;
$color-accent_text: #ffffff;
$color-text-menu: rgba(0, 0, 0, 0.79);

$color-text-primary: #292929;
$color-menu-border: rgba(0, 0, 0, 0.1);
$nav-color: #2b1414;
