$font-accent: 'Proxima Nova', serif;
$font: Montserrat, serif;

$logo: #b3d9f3;
$hero-bgc-blue: rgba(111, 217, 251, 0.6);
$hero-bgc-pink: rgba(152, 224, 194, 0.38);
$color-header-bg_accent: #d4e9f9;
$border-set: #ededf0;
$border-button: #4e9dd3;
$bg-accent: rgba(78, 157, 211, 0.1);
$footer-bg: #ebedee;

$color-accent: #e7426a;

$color-header-bg: #f7ebe5;
$color-accent_text: #ffffff;
$border-color: #e5e5e5;
$header-color: rgba(0, 0, 0, 0.79);
$color-text-primary: #292929;
$color-menu-border: rgba(0, 0, 0, 0.1);
$nav-color: #2b1414;
$menu-border: rgba(41, 41, 41, 0.16);
$colors-menu-card: '#ffdbc3', '#ffc2cc', '#b4eab3', '#fdd5cd', '#a8dcdf',
  '#c4c6ec';
$direction-menu-card: right, left, left, right, right, left;
