header {
  @media screen and (max-width: 767px) {
    position: fixed;
    width: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-width: 320px;
    overflow-y: auto;
    height: 100%;
    z-index: 10;
  }
}

.logo {
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.gamburger-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  background-color: $color-header-bg;

  @media screen and (min-width: 768px) {
    // display: none;
    background: transparent;
  }
}

.gamburger-menu__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 40px;
  //   padding: 18px;
  cursor: pointer;

  @media screen and (min-width: 768px) {
    display: none;
  }
}

// .gamburger-menu__block-icon {
//   position: relative;
//   width: 20px;
//   height: 14px;
//   margin: 0;
//   padding: 0;
// }

.gamburger-menu__icon {
  position: absolute;
  width: 20px;
  top: 50%;
  left: 50%;
  height: 1.5px;
  border: 1px solid $nav-color;
  background-color: $nav-color;
  transform: translateX(-50%);
  transition: 250ms linear;
  &::before {
    content: '';
    position: absolute;
    display: block;
    top: -6px;
    left: -1px;
    width: 20px;
    border: 1px solid $nav-color;
    background-color: $nav-color;
  }
  &::after {
    content: '';
    position: absolute;
    display: block;
    bottom: -6px;
    left: -1px;
    width: 12px;
    border: 1px solid $nav-color;
    background-color: $nav-color;
  }

  .gamburger-menu__checkbox:checked ~ .gamburger-menu__button & {
    transform: translateX(-50%) rotate(45deg);
  }
  .gamburger-menu__checkbox:checked ~ .gamburger-menu__button &::before {
    transform: rotate(90deg);
    top: -1px;
  }
  .gamburger-menu__checkbox:checked ~ .gamburger-menu__button &::after {
    opacity: 0;
  }

  // &--top {
  //   position: absolute;
  //   top: 35%;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }
  // &--bottom {
  //   position: absolute;
  //   width: 12px;
  //   top: 67%;
  //   left: 50%;
  //   opacity: 1;
  //   transform: translateX(-83%);
  // }

  // .gamburger-menu__checkbox:checked ~ .gamburger-menu__button & {
  //   transform: translateX(-50%) rotate(45deg);
  // }
  // .gamburger-menu__checkbox:checked ~ .gamburger-menu__button &--top {
  //   transform: translate(-50%, 260%) rotate(-45deg);
  // }
  // .gamburger-menu__checkbox:checked ~ .gamburger-menu__button &--bottom {
  //   opacity: 0;
  // }
}
// .gamburger-menu__icon {
//   position: relative;
//   width: 20px;
//   border: 1px solid $nav-color;
//   background-color: $nav-color;
//   &::before {
//     content: '';
//     position: absolute;
//     display: block;
//     top: -6px;
//     left: -1px;
//     width: 20px;
//     border: 1px solid $nav-color;
//     background-color: $nav-color;
//   }
//   &::after {
//     content: '';
//     position: absolute;
//     display: block;
//     bottom: -6px;
//     left: -1px;
//     width: 12px;
//     border: 1px solid $nav-color;
//     background-color: $nav-color;
//   }
// }

.gamburger-menu__cart {
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  // display: block;
  padding: 18px;

  @media screen and (min-width: 768px) {
    padding: 15px 0;
    &--mobile {
      display: none;
    }
  }
}

.gamburger-menu__cart-block {
  position: relative;
  @media screen and (min-width: 768px) {
    margin-right: 7px;
  }
}

.gamburger-menu__order {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $color-accent_text;
  background-color: $nav-color;
  font-size: 10px;
  line-height: 1.2;
}

.gamburger-menu__logo {
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: 768px) {
    width: 124px;
    height: 124px;
    background-color: $logo;
    border-radius: 50%;
  }
}

.gamburger-menu__logo-head {
  position: relative;
  width: 37px;
  height: 37px;
  @media screen and (min-width: 768px) {
    width: 61px;
    height: 61px;
    top: -20px;
  }
}

.gamburger-menu__logo-batterfly {
  position: absolute;
  top: 56px;
  width: 8px;
  height: 5px;
  @media screen and (min-width: 768px) {
    width: 14px;
    height: 8px;
    top: 104px;
  }
}

.gamburger-menu__logo-text {
  position: absolute;
  top: 30px;
  width: 55px;
  height: 26px;
  @media screen and (min-width: 768px) {
    width: 114px;
    height: 55px;
    top: 50px;
  }
}

.gamburger-menu__checkbox {
  position: absolute;
  width: 0;
  height: 0;
}

.navigation {
  // display: none;
  // padding-left: 15px;
  // padding-right: 15px;
  // position: absolute;
  position: fixed;
  top: 66px;
  height: calc(100% - 66px);
  overflow-y: auto;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
  // top: 100%;
  // left: 0;
  // width: 100%;
  // opacity: 0;
  visibility: hidden;
  z-index: 10;
  // background-color: $color-header-bg;
  // padding-left: 19px;
  // padding-right: 19px;
  // padding-top: 20px;
  // padding-bottom: 12px;
  &.is-open {
    display: block;
  }

  .gamburger-menu__checkbox:checked ~ & {
    // opacity: 1;
    visibility: visible;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    position: static;
    flex-direction: column-reverse;
    visibility: visible;
    max-width: 100%;
    transform: none;
    &.is-open {
      display: flex;
      position: static;
      flex-direction: column-reverse;
    }
  }
}

.navigation__block {
  background-color: $color-header-bg;

  @media screen and (min-width: 768px) {
    @include flex-center;
    flex-wrap: wrap;
    // background: transparent;
    padding: 0 15px;
  }
}

.navigation__close {
  margin-bottom: 21px;
  border: none;
  background: transparent;
}

.navigation__list {
  border-bottom: 1px solid $color-menu-border;
  background-color: $color-header-bg;

  @media screen and (min-width: 768px) {
    @include flex-center;
    flex-wrap: wrap;
    border: none;
    padding: 0 15px;
    background: transparent;
  }
}

.navigation__item {
  text-align: center;
  border-top: 1px solid $color-menu-border;
  &--desktop {
    display: none;
  }
  @media screen and (min-width: 768px) {
    border: none;
    &:not(:last-child) {
      margin-right: 40px;
      // border: none;
    }
    &--desktop {
      display: block;
    }
  }
}

.navigation__logo {
  position: relative;
}

.navigation__link {
  padding-top: 12px;
  padding-bottom: 11px;

  @include fonts($font-accent, 400, 14px, 1.2);
  text-transform: uppercase;
  color: $nav-color;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-color: $color-accent;
  }

  @media screen and (min-width: 768px) {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.navigation__services {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid $color-menu-border;

  @media screen and (min-width: 768px) {
    display: flex;
    border: none;
    padding: 0;
    margin-right: 10px;
  }
}

.navigation__item-service {
  text-align: center;
  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 14px;
    }
  }
}

.navigation__link-service {
  padding-top: 7px;
  padding-bottom: 7px;
  @include fonts($font-accent, 400, 14px, 1.2);
  color: $header-color;

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-color: $color-accent;
  }
}

.navigation__contacts {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
}

.navigation__item-contacts {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 11px;
  }

  &--hidden {
    display: none;

    @media screen and (min-width: 768px) {
      display: block;
    }
  }

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: 29px;
    }
  }
}

.navigation__link-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 11px;
  padding-top: 14px;
  @include fonts($font-accent, 400, 14px, 1.2);

  &--big {
    @include fonts($font-accent, 400, 18px, 1.22);
  }

  & img {
    margin-right: 13px;
  }

  &:hover,
  &:focus {
    text-decoration: underline;
    text-decoration-color: $color-accent;
  }

  @media screen and (min-width: 768px) {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.round-block {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: $color-accent_text;
  background-color: $color-accent;
  border-radius: 50%;
}
