.gamburger-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 4px;
  background-color: $color-header-bg;
}

.gamburger-menu__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 40px;
  //   padding: 18px;
  cursor: pointer;
}

// .gamburger-menu__block-icon {
//   position: relative;
//   width: 20px;
//   height: 14px;
//   margin: 0;
//   padding: 0;
// }

.gamburger-menu__icon {
  position: absolute;
  width: 20px;
  top: 50%;
  left: 50%;
  height: 1.5px;
  border: 1px solid $nav-color;
  background-color: $nav-color;
  transform: translateX(-50%);
  transition: 250ms linear;
  &--top {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
  }
  &--bottom {
    position: absolute;
    width: 12px;
    top: 67%;
    left: 50%;
    opacity: 1;
    transform: translateX(-83%);
  }

  .gamburger-menu__checkbox:checked ~ & {
    transform: translateX(-50%) rotate(45deg);
  }
  .gamburger-menu__checkbox:checked ~ &--top {
    transform: translate(-50%, 260%) rotate(-45deg);
  }
  .gamburger-menu__checkbox:checked ~ &--bottom {
    opacity: 0;
  }
}
// .gamburger-menu__icon {
//   position: relative;
//   width: 20px;
//   border: 1px solid $nav-color;
//   background-color: $nav-color;
//   &::before {
//     content: '';
//     position: absolute;
//     display: block;
//     top: -6px;
//     left: -1px;
//     width: 20px;
//     border: 1px solid $nav-color;
//     background-color: $nav-color;
//   }
//   &::after {
//     content: '';
//     position: absolute;
//     display: block;
//     bottom: -6px;
//     left: -1px;
//     width: 12px;
//     border: 1px solid $nav-color;
//     background-color: $nav-color;
//   }
// }

.gamburger-menu__cart {
  position: relative;
  display: block;
  padding: 18px;
}

.gamburger-menu__order {
  position: absolute;
  top: 50%;
  right: 25%;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: $color-accent_text;
  background-color: $nav-color;
  font-size: 10px;
  line-height: 1.2;
}

.gamburger-menu__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gamburger-menu__logo-head {
  position: relative;
}

.gamburger-menu__logo-batterfly {
  position: absolute;
  top: 56px;
}

.gamburger-menu__logo-text {
  position: absolute;
  top: 30px;
}

.gamburger-menu__checkbox {
  position: absolute;
  width: 0;
  height: 0;
}

.navigation {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1;
  background-color: $color-header-bg;
  padding-left: 19px;
  padding-right: 19px;
  padding-top: 20px;
  padding-bottom: 12px;
  &.is-open {
    display: block;
  }
}

.navigation__close {
  margin-bottom: 21px;
  border: none;
  background: transparent;
}

.navigation__list {
  border-bottom: 1px solid $color-menu-border;
}

.navigation__item {
  text-align: center;
  border-top: 1px solid $color-menu-border;
}

.navigation__link {
  padding-top: 12px;
  padding-bottom: 11px;

  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  color: $nav-color;
}

.navigation__services {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid $color-menu-border;
}

.navigation__item-service {
  text-align: center;
}

.navigation__link-service {
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: $header-color;
}

.navigation__item-contacts {
  text-align: center;
  &:not(:last-child) {
    margin-bottom: 11px;
  }
}

.navigation__link-contacts {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 11px;
  padding-top: 14px;
  //   vertical-align: middle;
  & img {
    margin-right: 13px;
  }
}

.round-block {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  font-family: 'Proxima Nova', sans-serif;
  font-size: 15px;
  line-height: 1.2;
  color: $color-accent_text;
  background-color: $color-accent;
  border-radius: 50%;
}
