.hero__title {
  font-weight: 600;
  font-size: 24px;
  padding-top: 40px;
  padding-bottom: 11px;

  @media screen and (min-width: 1200px) {
    font-size: 42px;
  }
}

.hero__text {
  color: $color-text-primary;
  font-size: 14px;
  &--uppercase {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
  }
  &--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  @media screen and (min-width: 1200px) {
    font-size: 18px;
    &--uppercase {
      font-size: 22px;
    }
    &--flex {
      font-size: 16px;
    }
  }
}

.hero__line {
  margin-left: 4px;
  margin-right: 4px;
  display: block;
  width: 20px;
  height: 1px;
  background-color: $nav-color;
}

.block-text {
  @media screen and (min-width: 1200px) {
    padding-top: 135px;
    padding-bottom: 160px;
  }
}

.block-img {
  position: relative;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 300px;
  width: 320px;
  background-image: url(../images/hero-heart.png),
    url(../images/hero-macaroon.png), url(../images/hero-macaroon1.png),
    url(../images/hero-macaroon2.png), url(../images/hero-macaroon3.png),
    url(../images/hero-macaroon4.png), url(../images/hero-green-small.png),
    url(../images/hero-green-big.png), url(../images/hero-nut.png),
    url(../images/hero-nut1.png), url(../images/hero-nut2.png),
    url(../images/hero-nut3.png), url(../images/hero-nut4.png),
    url(../images/hero-nut5.png), url(../images/hero-blue.png),
    url(../images/hero-blue-small.png), url(../images/hero-blue-small-light.png),
    url(../images/hero-blue-small-light.png), url(../images/hero-pink.png);
  background-repeat: no-repeat;
  background-position: 50% 40%, 11% 10%, 1% 75%, 50% 100%, 100% 70%, 94% 7%,
    94% 38%, 20% 90%, 8% 35%, 10% 84%, 36% 90%, 80% 84%, 92% 54%, 43% 57%,
    850% 50%, 60% 85%, -600% 70%, -50% 140%, 10% -30%;

  @media screen and (min-width: 1200px) {
    width: 680px;
    height: 450px;
    left: 0;
    transform: translateX(0);
  }
}
