.hero {
  background-image: url(../images/hero/hero-mobile.png);
  background-repeat: no-repeat;
  background-position: center 215px;

  @media screen and (min-width: 768px) {
    background-image: url(../images/hero/hero-desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.hero__title {
  @include fonts($font, 600, 24px, 1.2);
  margin-top: 40px;
  margin-bottom: 11px;

  .corporation-hero & {
    text-align: center;
    padding: 0;
    margin-bottom: 14px;

    &--second {
      @include fonts($font-accent, 400, 14px, 1.21);
      text-align: center;

      margin-bottom: 336px;
    }
  }

  .opt-hero &,
  .wedding-hero & {
    text-align: center;
    margin-bottom: 14px;

    &--second {
      @include fonts($font-accent, 400, 14px, 1.21);
      margin-bottom: 20px;
      margin-top: 0;
    }
  }

  @media screen and (min-width: 768px) {
    font-size: 42px;

    .corporation-hero & {
      &--second {
        @include fonts($font-accent, 400, 18px, 1.22);
        margin-bottom: 64px;
      }
    }

    .opt-hero &,
    .wedding-hero & {
      margin-top: 0;
      &--second {
        @include fonts($font-accent, 400, 18px, 1.22);
        margin-bottom: 12px;
      }
    }
  }
}

.hero__text {
  color: $color-text-primary;
  @include fonts($font-accent, 400, 14px, 1.2);
  font-size: 14px;
  &--uppercase {
    @include fonts($font, 600, 18px, 1.22);
    text-transform: uppercase;
  }
  &--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    @include fonts($font, 600, 14px, 1.2);
  }

  .corporation-hero & {
    text-align: left;
  }

  .opt-hero & {
    margin-bottom: 20px;
  }

  @media screen and (min-width: 768px) {
    @include fonts($font-accent, 400, 18px, 1.22);
    &--uppercase {
      @include fonts($font, 600, 22px, 1.23);
    }
    &--flex {
      @include fonts($font, 600, 16px, 1.25);
    }
    .opt-hero & {
      @include fonts($font, 400, 16px, 1.25);
      margin-bottom: 0;
    }
  }
}

.hero__line {
  margin-left: 4px;
  margin-right: 4px;
  display: block;
  width: 20px;
  height: 1px;
  background-color: $nav-color;
}

.block-mobile {
  display: block;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.block-desktop {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.block-text {
  @media screen and (min-width: 768px) {
    padding-top: 135px;
    padding-bottom: 160px;
    width: calc(100% / 2);
    margin-left: auto;
  }
}
