.promotions__list {
  padding-bottom: 22px;

  .deserts-card & {
    @include flex-center;
    flex-wrap: wrap;
  }

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.promotions__item {
  position: relative;
  width: 100%;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  overflow: hidden;
  text-align: center;

  .deserts-card & {
    flex-grow: 1;
    width: calc((100% - 2 * 10px) / 2);
    min-height: 220px;
    margin-right: 10px;
    margin-bottom: 10px;
  }

  &--second {
    background-color: #feb0e1;
  }

  .promotions &--second {
    display: none;
  }

  .deserts-card &--third {
    background-color: #b3d9f3;
    height: 100px;
    min-height: 100px;
  }

  .promotions &--third {
    display: none;
  }

  &--fourth {
    padding-top: 10px;
    background-color: #ffb84e;
  }

  .promotions &--fourth {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 3 * 30px) / 4);
    min-height: 200px;
    max-height: 450px;
    &:not(:last-child) {
      margin-right: 30px;
    }
    .promotions &--second,
    .promotions &--third,
    .promotions &--fourth {
      display: block;
    }

    .deserts-card & {
      width: calc((100% - 3 * 10px) / 3);
      min-height: 340px;
      margin-right: 10px;
      margin-bottom: 0;
    }
  }
}

.promotion__img {
  .promotions & {
    width: 100%;
  }
  .deserts-card & {
    max-width: 100%;
  }
}

// .promotions__block-card {
//   min-height: 80px;
//   width: 100%;
// }

.promotions__item {
  padding-top: 308px;
  padding-bottom: 54px;

  @media screen and (min-width: 768px) {
    padding-top: 308px;
    padding-bottom: 48px;
  }
}
@include card-bg($promotion-card-bg, '.promotions__item');

.promotions__card {
  text-align: center;
  color: $color-accent_text;

  font-family: $font-accent;
  line-height: 1.23;
}

.promotions__card-title {
  @include fonts($font-accent, 600, 13px, 1.23);
  margin-bottom: 3px;

  @media screen and (min-width: 768px) {
    @include fonts($font-accent, 600, 16px, 1.2);
  }
}

.promotions__card-text {
  @include fonts($font, 600, 18px, 1.22);
}
