.celebrated {
  // background-image: url(../images/dotter-line.svg);
  // background-repeat: no-repeat;
  // background-position: 8% 10%;

  @media screen and (min-width: 768px) {
    @include flex-center;
    flex-wrap: wrap;
    // margin-right: -30px;
    margin-bottom: -30px;
  }
}

.celebrated__item {
  position: relative;
  display: flex;
  &:not(:last-child) {
    margin-bottom: 30px;
  }

  &--hidden {
    display: none;
  }

  @media screen and (min-width: 768px) {
    @include flex-center;
    flex-direction: column;
    width: calc((100% - 2 * 50px) / 3);
    text-align: center;
    margin-bottom: 30px;
    &:not(:nth-child(3n)) {
      margin-right: 50px;
    }
    &--hidden {
      display: flex;
    }
  }

  @media screen and (min-width: 1200px) {
    @include flex-center;
    flex-direction: column;
    width: calc((100% - 5 * 30px) / 6);
    // width: 170px;
    text-align: center;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.celebrated__line {
  position: absolute;
  top: 50%;
  left: 30px;
  height: 300%;
  width: 2px;
  background-image: url(../images/dotter-line.svg);

  @media screen and (min-width: 768px) {
    top: 20%;
    left: 150px;
    height: 2px;
    width: 240%;
  }

  @media screen and (min-width: 1200px) {
    left: 100px;
    width: 350%;
    &--last {
      width: 230%;
    }
  }
}

.celebrated__block-icon {
  position: relative;
  width: 58px;
  height: 45px;

  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}

.celebrated__text {
  flex-grow: 1;
  @include fonts($font, 600, 12px, 1.22);
  text-align: center;
  &--bold {
    font-weight: 700;
  }

  @media screen and (min-width: 768px) {
    font-size: 14px;
  }
}

.celedrated__img {
  &--absolut {
    position: absolute;
    top: -80%;
    right: -30%;
  }

  @media screen and (min-width: 768px) {
    font-size: 18px;
  }
}
