.section-instagram__info {
  display: flex;
  width: 100%;
  padding: 14px 12px;
  margin-bottom: 10px;
  background-color: $bg-accent;
}

.section-instagram__logo {
  margin-right: 15px;
}

.section-instagram__information {
  @media screen and (min-width: 768px) {
    width: 100%;
    @include flex-center;
    justify-content: space-between;
  }
}

.section-instagram__nickname {
  padding-bottom: 4px;
  font: $font-accent;
  font-size: 18px;
  line-height: 1.22;
}

.section-instagram__text {
  padding-bottom: 2px;
  font: $font-accent;
  font-size: 12px;
  line-height: 1.25;

  @media screen and (min-width: 768px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.section-instagram__number {
  font: $font-accent;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}

.section-instagram__galary {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -2px;

  @media screen and (min-width: 768px) {
    margin-bottom: -4px;
  }
}

.section-instagram__item {
  width: calc((100% - 2 * 2px) / 3);
  margin-bottom: 2px;

  & img {
    display: block;
    width: 100%;
    height: 100%;
  }

  &:not(:nth-child(3n)) {
    margin-right: 2px;
  }

  &--hidden {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 5 * 4px) / 6);
    margin-bottom: 4px;
    &:not(:nth-child(3n)) {
      margin-right: 0px;
    }
    &:not(:nth-child(6n)) {
      margin-right: 4px;
    }
    &--hidden {
      display: block;
    }
  }
}

.section-instagram__counts {
  @media screen and (min-width: 768px) {
    @include flex-center;
    margin-left: auto;
  }
}
