.sets {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;

    .section-count & {
      justify-content: center;
      margin-right: 32px;
    }
    .section-count & {
      justify-content: flex-start;
    }
  }
}

.sets__item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 8px) / 2);
  margin-bottom: 9px;
  border: 1px solid $border-set;
  border-radius: 5px;
  &:nth-child(2n - 1) {
    margin-right: 8px;
  }

  &--disabled {
    display: none;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 3);
    margin-bottom: 35px;

    &:nth-child(2n - 1) {
      margin-right: 0;
    }
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &--disabled {
      display: flex;
    }
    .section-sets-desserts &,
    .section-sets-corporation & {
      width: calc((100% - 3 * 30px) / 4);
      &:not(:nth-child(3n)) {
        margin-right: 0;
      }
      &:not(:nth-child(4n)) {
        margin-right: 30px;
      }
    }
    .section-count-printed & {
      width: calc((100% - 4 * 30px) / 5);
      &:not(:nth-child(4n)) {
        margin-right: 0;
      }
      &:not(:nth-child(5n)) {
        margin-right: 30px;
      }
    }
  }
}

.sets__link {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sets__link-text {
  color: $border-button;
  @include fonts($font, 600, 14px, 1.2);
  margin-bottom: 14px;
}

.sets__block-img {
  padding: 9px 8px 11px;
}

.sets__img {
  width: 100%;
  height: 100%;
}

.sets__title {
  margin: 0 8px 6px;
  @include fonts($font, 600, 12px, 1.25);

  @media screen and (min-width: 768px) {
    @include fonts($font, 600, 18px, 1.22);
  }
}

.sets__text {
  @include fonts($font-accent, 400, 10px, 1.2);
  font-size: 10px;
  margin: 0 8px 10px;

  .section-count & {
    margin-bottom: 12px;
  }

  @media screen and (min-width: 768px) {
    @include fonts($font-accent, 400, 14px, 1.2);
    .section-count & {
      margin-bottom: 24px;
    }
  }
}

.sets_block-order {
  @include flex-center;
  margin-top: auto;
  border: 1px solid $border-set;
}

.sets__price {
  flex-grow: 1;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: column;
  padding-left: 12px;
  @include fonts($font, 600, 14px, 1.22);
  color: $color-accent;

  border-right: 1px solid $border-set;

  @media screen and (min-width: 768px) {
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    @include fonts($font, 600, 18px, 1.22);
  }
}

.sets__old-price {
  display: contents;
  margin-bottom: 6px;
  @include fonts($font, 600, 14px, 1.2);
  color: $strike-text;
  text-decoration: line-through;
}

.sets__button-buy {
  width: 45px;
  height: 37px;
  border: none;
  // border-left: 1px solid $border-set;
  background: transparent;

  @media screen and (min-width: 768px) {
    @include flex-center;
    width: 150px;
  }
}

.sets__text-buy {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    @include fonts($font, 600, 14px, 1.21);
    margin-left: 12px;
  }
}

.sets_counter {
  @include flex-center;
  width: 100%;
  margin-bottom: 12px;
  margin-top: auto;

  @media screen and (min-width: 768px) {
    margin: 0;
    padding-top: 12px;
    padding-bottom: 16px;
    margin-top: auto;
    border-top: 1px solid $border-set;
  }
}

.sets__counter-button {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: 1px solid $border-set;
  border-radius: 3px;
  @include fonts($font-accent, 800, 18px, 1.22);
  @include flex-center;

  &--no-border {
    border: transparent;
    opacity: 0.3;
    font-size: 12px;
    margin-left: 14px;
  }
}

.sets__counter-text {
  padding-left: 4px;
  padding-right: 4px;
  @include fonts($font-accent, 600, 14px, 1.21);

  @media screen and (min-width: 768px) {
    padding-left: 14px;
    padding-right: 14px;
    @include fonts($font-accent, 600, 16px, 1.19);
  }
}

.sets__select-input {
  width: 270px;
  margin-bottom: 30px;
  padding: 12px 40px 10px 17px;
  @include fonts($font-accent, 400, 16px, 1.19);
}

.sets__select-label {
  position: relative;
}

.sets__button-order {
  position: absolute;
  top: -15px;
  right: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.sets__order-list {
  @media screen and (min-width: 768px) {
    @include flex-center;
    flex-wrap: wrap;
    margin-bottom: -15px;
  }
}

.sets__order-item {
  position: relative;
  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 13px) / 3);
    margin-bottom: 15px;
    &:not(:nth-child(3n)) {
      margin-right: 13px;
    }
  }
}

.sets__order-close {
  position: absolute;
  top: 0;
  right: -4px;
  width: 18px;
  height: 18px;
  background-color: $color-backdrop;
  border-radius: 50%;
}

.sets__order-close-icon {
  width: 10px;
  height: 10px;
  fill: $color-accent_text;
}

.sets__block-download {
  padding: 19px 24px 12px;
  text-align: center;
  border-bottom: 1px solid $border-set;
  &--hidden {
    display: none;
  }
  @media screen and (min-width: 768px) {
    display: block;
  }
}

.sets__download-img {
  width: 48px;
  height: 48px;
  @media screen and (min-width: 768px) {
    width: 72px;
    height: 72px;
  }
}
