.section-menu__list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -25px;
  }
}

@media screen and (min-width: 768px) {
  @include colorize(
    $colors-menu-card,
    '.section-menu__item',
    '.section-menu__icon-img'
  );
}
.section-menu__item {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid $menu-border;

  @media screen and (min-width: 768px) {
    display: block;
    text-align: center;
    margin-bottom: 25px;
    padding: 37px 55px 34px;
    width: calc((100% - 30px) / 2);
    &:nth-child(2n - 1) {
      margin-right: 30px;
    }
  }
}

.section-menu__block-icon {
  display: none;
  margin: 0 auto;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $color-accent_text;

  @media screen and (min-width: 768px) {
    // display: flex;
    @include flex-center;
    margin-bottom: 20px;
  }
}

.section-menu__block-link {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @media screen and (min-width: 768px) {
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

.section-menu__block-text {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    text-align: center;
    @include fonts($font-accent, 400, 16px, 1.18);
  }
}

.section-menu__text {
  @include fonts($font, 600, 14px, 1.2);
  margin-right: 12px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
  }
}

.section-menu__icon {
  width: 12px;
  height: 8px;
  fill: $color-text-primary;
  @media screen and (min-width: 768px) {
    width: 16px;
    height: 10px;
  }
}
