.sets {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 24px;

  @media screen and (min-width: 768px) {
    margin-bottom: 35px;
  }
}

.sets__item {
  display: flex;
  flex-direction: column;
  width: calc((100% - 8px) / 2);
  margin-bottom: 9px;
  border: 1px solid $border-set;
  border-radius: 5px;
  &:nth-child(2n - 1) {
    margin-right: 8px;
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 2 * 30px) / 3);
    margin-bottom: 35px;

    &:nth-child(2n - 1) {
      margin-right: 0;
    }
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    .section-sets-desserts & {
      width: calc((100% - 3 * 30px) / 4);
      &:not(:nth-child(3n)) {
        margin-right: 0;
      }
      &:not(:nth-child(4n)) {
        margin-right: 30px;
      }
    }
  }
}

.sets__link {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.sets__block-img {
  padding: 9px 8px 11px;
}

.sets__img {
  width: 100%;
  height: 100%;
}

.sets__title {
  margin: 0 8px 6px;
  @include fonts($font, 600, 12px, 1.25);

  @media screen and (min-width: 768px) {
    @include fonts($font, 600, 18px, 1.22);
  }
}

.sets__text {
  @include fonts($font-accent, 400, 10px, 1.2);
  font-size: 10px;
  margin: 0 8px 10px;

  @media screen and (min-width: 768px) {
    @include fonts($font-accent, 400, 14px, 1.2);
  }
}

.sets_block-order {
  @include flex-center;
  margin-top: auto;
  border: 1px solid $border-set;
}

.sets__price {
  flex-grow: 1;
  display: flex;
  padding-top: 5px;
  padding-bottom: 5px;
  flex-direction: column;
  padding-left: 12px;
  @include fonts($font, 600, 14px, 1.22);
  color: $color-accent;

  border-right: 1px solid $border-set;

  @media screen and (min-width: 768px) {
    padding-left: 20px;
    padding-top: 13px;
    padding-bottom: 13px;
    @include fonts($font, 600, 18px, 1.22);
  }
}

.sets__old-price {
  display: contents;
  margin-bottom: 6px;
  @include fonts($font, 600, 14px, 1.2);
  color: $strike-text;
  text-decoration: line-through;
}

.sets__button-buy {
  width: 45px;
  height: 37px;
  border: none;
  // border-left: 1px solid $border-set;
  background: transparent;

  @media screen and (min-width: 768px) {
    @include flex-center;
    width: 150px;
  }
}

.sets__text-buy {
  display: none;

  @media screen and (min-width: 768px) {
    display: inline-block;
    @include fonts($font, 600, 14px, 1.21);
    margin-left: 12px;
  }
}
