.section_advantages__list {
  display: flex;
  flex-wrap: wrap;
}

.section_advantages__item {
  font-family: $font-accent;
  margin-bottom: 16px;
  width: calc((100% - 1 * 8px) / 2);
  &:nth-child(2n - 1) {
    margin-right: 8px;
  }
}

.section_advantages__img {
  width: 140px;
  height: 140px;
  margin-bottom: 11px;
}

.section-advantages__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;
}

.section-advantages__text {
  font-size: 10px;
  line-height: 1.2;
  opacity: 0.8;
}
