.wedding-hero {
  background-image: url(../images/wedding/hero-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/wedding/hero-bg-mobile@2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/wedding/hero-bg-desktop.png);

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/wedding/hero-bg-desktop@2x.png);
    }
  }
}

.wedding-hero .container {
  @media screen and (min-width: 768px) {
    display: flex;
    padding-left: 80px;
    padding-right: 134px;
  }
}

.form-wedding {
  background-color: $color-form;
  background-image: url(../images/wedding/form-bg-mobile.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  //   background-size: cover;

  @media screen and (min-device-pixel-ratio: 2),
    screen and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    background-image: url(../images/wedding/form-bg-mobile@2x.png);
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/wedding/form-bg-desktop.png);
    background-position: center left;

    @media screen and (min-device-pixel-ratio: 2),
      screen and (-webkit-min-device-pixel-ratio: 2),
      screen and (min-resolution: 192dpi),
      screen and (min-resolution: 2dppx) {
      background-image: url(../images/wedding/form-bg-desktop@2x.png);
    }
  }
}

.form-wedding .container {
  background-color: transparent;
  @media screen and (min-width: 768px) {
    padding-left: 600px;
  }
}

.questions__item {
  display: block;

  @media screen and (min-width: 768px) {
    &--mobile {
      display: none;
    }
  }
}
